:root {
  --text-color: #3c4043;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Utilites */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header */

.nav {
  display: flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 15px;
}

.logo {
  margin: 0 20px;
}

.logo-icon {
  width: 24px;
  height: 24px;
}

.nav-list {
  display: flex;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  color: var(--text-color);
}
